/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
    padding: 4rem 0;
    text-align: center;
    position: relative;
    overflow: hidden;
    background-color: #1e509c;
    background-image: url("/img/homepage/stars.jpg");
}

/* Styling one class specially in dark mode */
[data-theme='dark'] .heroBanner {
    color: white;
}

@media screen and (max-width: 996px) {
    .heroBanner {
        padding: 2rem;
    }
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}
